In [1]:
import pandas as pd

In [2]:
# Load the CSV file
file_path = 'Austin_Animal_Center_Outcomes_20241205.csv'
data = pd.read_csv(file_path)

In [3]:
# Display data types of each column
data_types = data.dtypes
print("Data types of each column:")
print(data_types)

Data types of each column:
Animal ID           object
Name                object
DateTime            object
MonthYear           object
Date of Birth       object
Outcome Type        object
Outcome Subtype     object
Animal Type         object
Sex upon Outcome    object
Age upon Outcome    object
Breed               object
Color               object
dtype: object

In [4]:
# Count missing entries for each column
missing_entries = data.isnull().sum()
print("\nCount of missing entries for each column:")
print(missing_entries)

Count of missing entries for each column:
Animal ID               0
Name                48588
DateTime                0
MonthYear               0
Date of Birth           0
Outcome Type           45
Outcome Subtype     91639
Animal Type             0
Sex upon Outcome        3
Age upon Outcome        7
Breed                   0
Color                   0
dtype: int64

In [6]:
# Remove rows with missing values in 'Outcome Type', 'Sex upon Outcome', and 'Age upon Outcome'
cleaned_data = data.dropna(subset=['Outcome Type', 'Sex upon Outcome', 'Age upon Outcome'])

# Verify if there are still missing values in the dataset after cleaning
missing_summary_after_cleaning = cleaned_data.isnull().sum()
print(missing_summary_after_cleaning)

Animal ID               0
Name                48566
DateTime                0
MonthYear               0
Date of Birth           0
Outcome Type            0
Outcome Subtype     91594
Animal Type             0
Sex upon Outcome        0
Age upon Outcome        0
Breed                   0
Color                   0
dtype: int64

In [8]:
# Show the number of different outcome types
num_unique_outcome_types = data['Outcome Type'].nunique()
print("\nNumber of different outcome types:")
print(num_unique_outcome_types)

Number of different outcome types:
11

In [7]:
# Show unique values in 'Outcome Type' column
unique_outcome_types = data['Outcome Type'].unique()
print("\nUnique values in 'Outcome Type' column:")
print(unique_outcome_types)

Unique values in 'Outcome Type' column:
['Adoption' 'Rto-Adopt' 'Euthanasia' 'Transfer' 'Return to Owner' 'Died'
 'Disposal' 'Missing' nan 'Relocate' 'Stolen' 'Lost']

In [9]:
# Create a new column with 2 outcome types: 'Adopted' or 'Not Adopted'
simplified_outcome = []
for outcome in data['Outcome Type']:
    if outcome in ['Adoption', 'Rto-Adopt', 'Return to Owner']:
        simplified_outcome.append('Adopted')
    else:
        simplified_outcome.append('Not Adopted')

data['Simplified Outcome'] = simplified_outcome

In [10]:
data.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color,Simplified Outcome
0,A882831,*Hamilton,07/01/2023 06:12:00 PM,Jul 2023,03/25/2023,Adoption,NaN,Cat,Neutered Male,3 months,Domestic Shorthair Mix,Black/White,Adopted
1,A794011,Chunk,05/08/2019 06:20:00 PM,May 2019,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White,Adopted
2,A776359,Gizmo,07/18/2018 04:02:00 PM,Jul 2018,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown,Adopted
3,A821648,NaN,08/16/2020 11:38:00 AM,Aug 2020,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray,Not Adopted
4,A720371,Moose,02/13/2016 05:59:00 PM,Feb 2016,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff,Adopted

In [11]:
# Save the cleaned data to a new CSV file
cleaned_data.to_csv('Austin_Animal_Center_Outcomes_Cleaned.csv', index=False)